In [1]:
# Importing Libraries

import pandas as pd
import numpy as np
import os

# Importing Datasets

In [2]:
# df_ords_prior data

df_ords_prior = pd.read_csv (r'/Users/alejandroguillen/Documents/Instacart Basket Analysis/02 Data/Original Data/order_products__prior.csv', index_col=False)

In [3]:
# df_ords

df_ords = pd.read_csv (r'/Users/alejandroguillen/Documents/Instacart Basket Analysis/02 Data/Prepared Data/two_orders_checked.csv', index_col=False)

# Data Exploration

In [4]:
# Check the output of first 5 rows for df_ords_prior

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Check first 5 rows for df_ords

df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
# Check the output of last 5 rows for df_ords_prior
df_ords_prior.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [7]:
# Check the last 5 rows for df_ords
df_ords.tail()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [8]:
# Check number of rows and colums for df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [9]:
# Check number of rows and colums for df_ords
df_ords.shape

(3421083, 7)

In [10]:
# Check columns

df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [13]:
df_ords.drop(columns = {'eval_set'}, inplace = True)

In [16]:
# Change types for df_ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] =df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_last_order']=df_ords['days_since_last_order'].astype('float16')

In [17]:
# Check output to see memory usage

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [18]:
# Change types for df_ords_prior data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [19]:
# Check output to see memory usage

df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

## Merge data sets

In [20]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [22]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [25]:
path = os.path.join('/Users/alejandroguillen/Documents/Instacart Basket Analysis/02 Data/Prepared Data')

In [27]:
df_merged_large.to_pickle(os.path.join(path,'orders_products_combined.pkl'))